- type: web
  name: notes-app-client
  env: static
  rootDir: client
  buildCommand: npm install && npm run build
  staticPublishPath: dist
  routes:
    - type: rewrite
      source: /*
      destination: /index.html
  envVars:
    - key: VITE_API_URL
      fromService:
        type: web
        name: notes-app-server
        property: host
